allow hal_fingerprint_default fpc_sysfs:file { rw_file_perms };
allow hal_fingerprint_default tee_device:chr_file { rw_file_perms };
allow hal_fingerprint_default firmware_file:dir { search };
allow hal_fingerprint_default firmware_file:file { r_file_perms };
allow hal_fingerprint_default fpc_data_file:dir rw_dir_perms;
allow hal_fingerprint_default fpc_data_file:sock_file create_file_perms;
allow hal_fingerprint_default uhid_device:chr_file rw_file_perms;
allow hal_fingerprint_default keystore_service:service_manager { find };
allow hal_fingerprint_default keystore:keystore_key { add_auth };
allow hal_fingerprint_default storage_file:dir { search };
allow hal_fingerprint_default storage_file:lnk_file { read };

binder_call(hal_fingerprint_default, servicemanager)
binder_call(hal_fingerprint_default, keystore)

add_service(hal_fingerprint_default, fingerprintd_custom_service);
