# Allow system_server to add and find perf service
# add_service(system_server, vendor_perf_service);
allow system_server vendor_perf_service:service_manager find;